@font-face {
    font-family: friendsFont;
    src: url(../fonts/FRIENDS_.TTF);
}

.im-centered {
    margin: auto;
    max-width: 700px;
    text-align: center;
}

#friends{
    margin-top: 50px;
    background-color: #000000;
    height: 150px;
    overflow: hidden;

}

#friends-body{
    color: #FFFFFF;
    padding: 35px 0px 0px 10px;
    text-align: center
}

.name{
    font-family: friendsFont;
    font-size: 50px;
    letter-spacing: 1px;
}

.dot:before {
    content:"\25cf";
    font-size: 15px;
    vertical-align: calc(120%);
}

.red:before {
    color: red;
}

.yellow:before {
    color: yellow;
}

.green:before {
    color: green;
}